/* 3rd party packages */
@import "normalize.css";
//@import "../node_modules/@glidejs/glide/dist/css/glide.core.min.css";

/* SASS and Global'ish Stuff */
@import "base/variables";
@import "base/baseline";
@import "base/utility-classes";
@import "test/shame";

h1,
h2,
h3 {
    color: black;
    font-size: 3rem;
}

.page-banner {
    background-color: #000;
    padding: 80px 0 40px 0;
    position: relative;

    &__content {
        position: relative;
        z-index: 2;
    }

    &__title {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        font-size: 3.6rem;
        margin: 0 0 1rem 0;
        color: #fff;

    }

    &__bg-image {
        opacity: 0.33;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}